////////////////////////////////////////////////////////////////////////////////
// Filename:    resource.rc
// Description: Windows Resource File.
//
// Created:     2012-08-05 13:52:39
// Author:      Jacob Buysse
//                                                              Modification Log
// When       Who               Description
// ---------- ----------------- ------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
#include <windows.h>
#include "resource.h"

IDI_APPLICATION_LARGE ICON "./res/application-large.ico"
IDI_APPLICATION_SMALL ICON "./res/application-small.ico"
IDI_FOLDER_CLOSED ICON "./res/folder-closed.ico"
IDI_FOLDER_OPEN ICON "./res/folder-open.ico"
IDI_FILE ICON "./res/file.ico"

IDM_MAINFRAME MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New Project\tCtrl+N", ID_FILE_NEW_PROJECT
		MENUITEM "&Open Project\tCtrl+O", ID_FILE_OPEN_PROJECT
		MENUITEM "&Save Project\tCtrl+S", ID_FILE_SAVE_PROJECT
		MENUITEM "&Close Project\tCtrl+Q", ID_FILE_CLOSE_PROJECT
		MENUITEM SEPARATOR
		MENUITEM "&Project Settings\tAlt+F10", ID_FILE_PROJECT_SETTINGS
		MENUITEM "&Rename Document\tF2", ID_FILE_RENAME
		MENUITEM "Create Fo&lder\tCtrl+Alt+F", ID_FILE_CREATE_FOLDER
		MENUITEM "Create &Document\tCtrl+Shift+A", ID_FILE_CREATE_FILE
		MENUITEM "Add &Existing Document\tCtrl+Shift+E", ID_FILE_ADD_EXISTING_FILE
		MENUITEM "New Class &Wizard\tCtrl+Alt+N", ID_FILE_CREATE_CLASS
		MENUITEM SEPARATOR
		MENUITEM "C&lose Document\tShift+Escape", ID_FILE_CLOSE_DOCUMENT
		MENUITEM "Close &All Documents\tCtrl+Shift+W", ID_FILE_CLOSE_ALL_DOCUMENTS
		MENUITEM "Close All &But This\tCtrl+W", ID_FILE_CLOSE_ALL_BUT_THIS
		MENUITEM SEPARATOR
		MENUITEM "Open Containing &Folder\tCtrl+Shift+O", ID_FILE_OPEN_CONTAINING_FOLDER
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4", ID_FILE_EXIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "Select &All\tCtrl+A", ID_SELECT_ALL
		MENUITEM SEPARATOR
		MENUITEM "&Cut\tCtrl+X", ID_EDIT_CUT
		MENUITEM "Cop&y\tCtrl+C", ID_EDIT_COPY
		MENUITEM "&Paste\tCtrl+V", ID_EDIT_PASTE
		MENUITEM SEPARATOR
		MENUITEM "&Undo\tCtrl+Z", ID_EDIT_UNDO
		MENUITEM "&Redo\tCtrl+Y", ID_EDIT_REDO
		MENUITEM SEPARATOR
		MENUITEM "&Tabify File\tCtrl+T", ID_EDIT_TABIFY
		MENUITEM SEPARATOR
		MENUITEM "&Open File\tCtrl+Shift+G", ID_EDIT_OPEN_FILE
		MENUITEM SEPARATOR
		MENUITEM "Insert File &Header\tCtrl+Alt+H", ID_EDIT_INSERT_FILE_HEADER
		MENUITEM "Insert One Time &Include\tCtrl+Alt+I", ID_EDIT_INSERT_ONE_TIME_INCLUDE
		MENUITEM SEPARATOR
		MENUITEM "&Find\tCtrl+F", ID_EDIT_FIND
		MENUITEM "Find in Fi&les\tCtrl+Shift+F", ID_EDIT_FIND_IN_FILES
		MENUITEM "&Goto Line\tCtrl+G", ID_EDIT_GOTO_LINE
	END
	POPUP "&Build"
	BEGIN
		MENUITEM "B&uild\tF7", ID_BUILD_BUILD
		MENUITEM "&Rebuild\tCtrl+F7", ID_BUILD_REBUILD
		MENUITEM "&Compile\tF6", ID_BUILD_COMPILE
		MENUITEM "&Goto Compile Error\tCtrl+E", ID_BUILD_GOTO_ERROR
		MENUITEM "&Execute\tCtrl+F5", ID_BUILD_EXECUTE
		MENUITEM "Execute Unit &Tests\tCtrl+R", ID_BUILD_EXECUTE_UNIT_TEST
		MENUITEM "C&ancel Build\tCtrl+Break", ID_BUILD_CANCEL
		MENUITEM "C&lean\tShift+F7", ID_BUILD_CLEAN
	END
END

IDA_MAINFRAME ACCELERATORS
BEGIN
	0x4e, ID_FILE_NEW_PROJECT, VIRTKEY, CONTROL											//Ctrl+N
	0x4f, ID_FILE_OPEN_PROJECT, VIRTKEY, CONTROL										//Ctrl+O
	0x53, ID_FILE_SAVE_PROJECT, VIRTKEY, CONTROL										//Ctrl+S
	0x51, ID_FILE_CLOSE_PROJECT, VIRTKEY, CONTROL										//Ctrl+Q
	VK_F4, ID_FILE_EXIT, VIRTKEY, ALT													//Alt+F4
	VK_RIGHT, ID_SELECT_NEXT_CHARACTER_VERTICAL, VIRTKEY, ALT							//Alt+Right Arrow
	VK_RIGHT, ID_SELECT_NEXT_CHARACTER_VERTICAL_EXTEND, VIRTKEY, ALT, SHIFT				//Shift+Alt+Right Arrow
	VK_RIGHT, ID_SELECT_NEXT_WORD_VERTICAL, VIRTKEY, ALT, CONTROL						//Ctrl+Alt+Right Arrow
	VK_RIGHT, ID_SELECT_NEXT_WORD_VERTICAL_EXTEND, VIRTKEY, ALT, SHIFT, CONTROL			//Shift+Ctrl+Alt+Right Arrow
	VK_LEFT, ID_SELECT_PREVIOUS_CHARACTER_VERTICAL, VIRTKEY, ALT						//Alt+Left Arrow
	VK_LEFT, ID_SELECT_PREVIOUS_CHARACTER_VERTICAL_EXTEND, VIRTKEY, ALT, SHIFT			//Shift+Alt+Left Arrow
	VK_LEFT, ID_SELECT_PREVIOUS_WORD_VERTICAL, VIRTKEY, ALT, SHIFT						//Ctrl+Alt+Left Arrow
	VK_LEFT, ID_SELECT_PREVIOUS_WORD_VERTICAL_EXTEND, VIRTKEY, ALT, SHIFT, CONTROL		//Shift+Ctrl+Alt+Left Arrow
	VK_DOWN, ID_SELECT_NEXT_LINE_VERTICAL, VIRTKEY, ALT									//Alt+Down Arrow
	VK_DOWN, ID_SELECT_NEXT_LINE_VERTICAL_EXTEND, VIRTKEY, ALT, SHIFT					//Shift+Alt+Down Arrow
	VK_UP, ID_SELECT_PREVIOUS_LINE_VERTICAL, VIRTKEY, ALT								//Alt+Up Arrow
	VK_UP, ID_SELECT_PREVIOUS_LINE_VERTICAL_EXTEND, VIRTKEY, ALT, SHIFT					//Shift+Alt+Up Arrow
	VK_PRIOR, ID_SELECT_PAGEUP_VERTICAL, VIRTKEY, ALT									//Alt+Page Up
	VK_PRIOR, ID_SELECT_PAGEUP_VERTICAL, VIRTKEY, ALT, SHIFT							//Shift+Alt+Page Up
	VK_NEXT, ID_SELECT_PAGEDOWN_VERTICAL, VIRTKEY, ALT									//Alt+Page Down
	VK_NEXT, ID_SELECT_PAGEDOWN_VERTICAL, VIRTKEY, ALT, SHIFT							//Shift+Alt+Page Down
	VK_HOME, ID_SELECT_BEGINNING_OF_LINE_VERTICAL, VIRTKEY, ALT							//Alt+Home
	VK_HOME, ID_SELECT_BEGINNING_OF_LINE_VERTICAL_EXTEND, VIRTKEY, ALT, SHIFT			//Shift+Alt+Home
	VK_HOME, ID_SELECT_BEGINNING_OF_FILE_VERTICAL, VIRTKEY, ALT, CONTROL				//Ctrl+Alt+Home
	VK_HOME, ID_SELECT_BEGINNING_OF_FILE_VERTICAL_EXTEND, VIRTKEY, ALT, CONTROL, SHIFT	//Shift+Ctrl+Alt+Home
	VK_END, ID_SELECT_END_OF_LINE_VERTICAL, VIRTKEY, ALT								//Alt+End
	VK_END, ID_SELECT_END_OF_LINE_VERTICAL_EXTEND, VIRTKEY, ALT, SHIFT					//Shift+Alt+End
	VK_END, ID_SELECT_END_OF_FILE_VERTICAL, VIRTKEY, ALT, CONTROL						//Ctrl+Alt+End
	VK_END, ID_SELECT_END_OF_FILE_VERTICAL_EXTEND, VIRTKEY, ALT, CONTROL, SHIFT			//Shift+Ctrl+Alt+End
	0x41, ID_SELECT_ALL, VIRTKEY, CONTROL												//Ctrl+A
	0x43, ID_EDIT_COPY, VIRTKEY, CONTROL												//Ctrl+C
	0x58, ID_EDIT_CUT, VIRTKEY, CONTROL													//Ctrl+X
	0x56, ID_EDIT_PASTE, VIRTKEY, CONTROL												//Ctrl+V
	0x5a, ID_EDIT_UNDO, VIRTKEY, CONTROL												//Ctrl+Z
	0x59, ID_EDIT_REDO, VIRTKEY, CONTROL												//Ctrl+Y
	0x54, ID_EDIT_TABIFY, VIRTKEY, CONTROL												//Ctrl+T
	0x48, ID_EDIT_INSERT_FILE_HEADER, VIRTKEY, CONTROL, ALT								//Ctrl+Alt+H
	0x49, ID_EDIT_INSERT_ONE_TIME_INCLUDE, VIRTKEY, CONTROL, ALT						//Ctrl+Alt+I
	VK_ESCAPE, ID_FILE_CLOSE_DOCUMENT, VIRTKEY, SHIFT									//Shift+Escape
	0x4f, ID_FILE_OPEN_CONTAINING_FOLDER, VIRTKEY, CONTROL, SHIFT						//Ctrl+Shift+O
	0x57, ID_FILE_CLOSE_ALL_DOCUMENTS, VIRTKEY, CONTROL, SHIFT							//Ctrl+Shift+W
	0x57, ID_FILE_CLOSE_ALL_BUT_THIS, VIRTKEY, CONTROL									//Ctrl+W
	VK_F2, ID_FILE_RENAME, VIRTKEY														//F2
	0x47, ID_EDIT_OPEN_FILE, VIRTKEY, CONTROL, SHIFT									//Ctrl+Shift+G
	0x46, ID_FILE_CREATE_FOLDER, VIRTKEY, CONTROL, ALT									//Ctrl+Alt+F
	0x41, ID_FILE_CREATE_FILE, VIRTKEY, CONTROL, SHIFT									//Ctrl+Shift+A
	0x45, ID_FILE_ADD_EXISTING_FILE, VIRTKEY, CONTROL, SHIFT							//Ctrl+Shift+E
	VK_DELETE, ID_EDIT_DELETE, VIRTKEY													//Delete
	0x4e, ID_FILE_CREATE_CLASS, VIRTKEY, CONTROL, ALT									//Ctrl+Alt+N
	VK_F6, ID_BUILD_COMPILE, VIRTKEY													//F6
	VK_CANCEL, ID_BUILD_CANCEL, VIRTKEY, CONTROL										//Ctrl+Break
	VK_F7, ID_BUILD_BUILD, VIRTKEY														//F7
	VK_F5, ID_BUILD_EXECUTE, VIRTKEY, CONTROL											//Ctrl+F5
	VK_F7, ID_BUILD_REBUILD, VIRTKEY, CONTROL											//Ctrl+F7
	VK_F7, ID_BUILD_CLEAN, VIRTKEY, SHIFT												//Shift+F7
	VK_F10, ID_FILE_PROJECT_SETTINGS, VIRTKEY, ALT										//Alt+F10
	0x52, ID_BUILD_EXECUTE_UNIT_TEST, VIRTKEY, CONTROL									//Ctrl+R
	0x45, ID_BUILD_GOTO_ERROR, VIRTKEY, CONTROL											//Ctrl+E
	0x46, ID_EDIT_FIND, VIRTKEY, CONTROL												//Ctrl+F
	0x47, ID_EDIT_GOTO_LINE, VIRTKEY, CONTROL											//Ctrl+G
	0x46, ID_EDIT_FIND_IN_FILES, VIRTKEY, CONTROL, SHIFT								//Ctrl+Shift+F
END

IDD_NEW_PROJECT DIALOGEX 0, 0, 218, 55
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE 0
CAPTION "New C++ Project"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT			"&Create in:", 0, 7, 4, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_DIRECTORY, 61, 4, 150, 12, ES_AUTOHSCROLL | WS_TABSTOP
	LTEXT			"Project &Name:", 0, 7, 20, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_NAME, 61, 20, 150, 12, ES_AUTOHSCROLL | WS_TABSTOP
	DEFPUSHBUTTON	"OK", IDOK, 107, 36, 50, 14
	PUSHBUTTON		"Cancel", IDCANCEL, 161, 36, 50, 14
END

IDD_NEW_FOLDER DIALOGEX 0, 0, 218, 55
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE 0
CAPTION "New Folder"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT			"Folder &Name:", 0, 7, 4, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_NAME, 61, 4, 150, 12, ES_AUTOHSCROLL | WS_TABSTOP
	DEFPUSHBUTTON	"OK", IDOK, 107, 36, 50, 14
	PUSHBUTTON		"Cancel", IDCANCEL, 161, 36, 50, 14
END

IDD_NEW_FILE DIALOGEX 0, 0, 218, 55
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE 0
CAPTION "New File"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT			"File &Name:", 0, 7, 4, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_NAME, 61, 4, 150, 12, ES_AUTOHSCROLL | WS_TABSTOP
	DEFPUSHBUTTON	"OK", IDOK, 107, 36, 50, 14
	PUSHBUTTON		"Cancel", IDCANCEL, 161, 36, 50, 14
END

IDD_NEW_CLASS DIALOGEX 0, 0, 218, 190
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE 0
CAPTION "New Class Wizard"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT			"&Class Name:", 0, 7, 4, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_NAME, 61, 4, 150, 12, ES_AUTOHSCROLL | WS_TABSTOP
	LTEXT			"&Namespace:", 0, 7, 20, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_NAMESPACE, 61, 20, 150, 12, ES_AUTOHSCROLL | WS_TABSTOP
	LTEXT			"&Folder:", 0, 7, 36, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_DIRECTORY, 61, 36, 150, 12, ES_AUTOHSCROLL | WS_TABSTOP
	GROUPBOX		"Big Four", 0, 7, 52, 204, 48
	AUTORADIOBUTTON	"Normal", IDC_OPTION_BIG4_NORMAL, 11, 60, 196, 12, WS_TABSTOP | WS_GROUP
	AUTORADIOBUTTON	"Prevent Copy", IDC_OPTION_BIG4_NOCOPY, 11, 72, 196, 12, WS_TABSTOP
	AUTOCHECKBOX	"Use Default Implementation", IDC_CHECK_BIG4_DEFAULT, 11, 84, 196, 12, WS_TABSTOP | WS_GROUP | BS_AUTOCHECKBOX
	GROUPBOX		"Files", 0, 7, 104, 204, 48
	AUTORADIOBUTTON	"Header and Source (.h, .cpp)", IDC_OPTION_FILES_SOURCE, 11, 112, 196, 12, WS_TABSTOP | WS_GROUP
	AUTORADIOBUTTON	"Header and Inline (.h, .inl)", IDC_OPTION_FILES_INLINE, 11, 124, 196, 12, WS_TABSTOP
	AUTORADIOBUTTON	"Header Only (.h)", IDC_OPTION_FILES_HEADER, 11, 136, 196, 12, WS_TABSTOP
	AUTOCHECKBOX	"Generate Unit Test File (.Test.cpp)", IDC_CHECK_UNIT_TEST, 7, 156, 204, 12, WS_TABSTOP | WS_GROUP | BS_AUTOCHECKBOX
	DEFPUSHBUTTON	"OK", IDOK, 107, 172, 50, 14
	PUSHBUTTON		"Cancel", IDCANCEL, 161, 172, 50, 14
END

IDD_PROJECT_SETTINGS DIALOGEX 0, 0, 326, 182
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE 0
CAPTION "Project Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT			"Project Name:", 0, 7, 4, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_NAME, 61, 4, 100, 12, ES_AUTOHSCROLL | WS_TABSTOP
	LTEXT			"Output Folder:", 0, 7, 20, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_DIRECTORY, 61, 20, 100, 12, ES_AUTOHSCROLL | WS_TABSTOP
	LTEXT			"Output File:", 0, 7, 36, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_FILENAME, 61, 36, 100, 12, ES_AUTOHSCROLL | WS_TABSTOP
	LTEXT			"Standard:", 0, 7, 52, 50, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_COMBO_STANDARD, 61, 52, 100, 12, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT			"Subsystem:", 0, 7, 68, 50, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_COMBO_SUBSYSTEM, 61, 68, 100, 12, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT			"Warnings:", 0, 7, 84, 50, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_COMBO_WARNINGS, 61, 84, 100, 12, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	AUTOCHECKBOX	"Treat Warnings as Errors", IDC_CHECK_WARNINGS_AS_ERRORS, 7, 100, 154, 12, BS_AUTOCHECKBOX | WS_TABSTOP
	LTEXT			"Optimization:", 0, 7, 116, 50, 12, SS_CENTERIMAGE
	COMBOBOX		IDC_COMBO_OPTIMIZATION, 61, 116, 100, 12, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	AUTOCHECKBOX	"Include GDB Debug Info", IDC_CHECK_DEBUG, 7, 132, 154, 12, BS_AUTOCHECKBOX | WS_TABSTOP
	AUTOCHECKBOX	"Include Multithreaded Support", IDC_CHECK_MULTITHREADED, 7, 148, 154, 12, BS_AUTOCHECKBOX | WS_TABSTOP
	GROUPBOX		"Additional Include Directories", 0, 165, 4, 154, 75
	EDITTEXT		IDC_EDIT_INCLUDE_DIRECTORIES, 169, 12, 146, 63, ES_MULTILINE | ES_WANTRETURN | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP
	GROUPBOX		"Linked Libraries", 0, 165, 83, 154, 75
	EDITTEXT		IDC_EDIT_LIBRARIES, 169, 91, 146, 63, ES_MULTILINE | ES_WANTRETURN | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON	"OK", IDOK, 215, 164, 50, 14
	PUSHBUTTON		"Cancel", IDCANCEL, 269, 164, 50, 14
END

IDD_GOTO_LINE DIALOGEX 0, 0, 218, 55
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE 0
CAPTION "Goto Line"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT			"&Line:", IDC_LABEL_LINE, 7, 4, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_LINE, 61, 4, 150, 12, ES_AUTOHSCROLL | ES_NUMBER | WS_TABSTOP
	DEFPUSHBUTTON	"OK", IDOK, 107, 36, 50, 14
	PUSHBUTTON		"Cancel", IDCANCEL, 161, 36, 50, 14
END

IDD_FIND_IN_FILES DIALOGEX 0, 0, 218, 55
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE 0
CAPTION "Find in Files"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT			"&Find Text:", 0, 7, 4, 50, 12, SS_CENTERIMAGE
	EDITTEXT		IDC_EDIT_FIND_TEXT, 61, 4, 150, 12, ES_AUTOHSCROLL | WS_TABSTOP
	DEFPUSHBUTTON	"OK", IDOK, 107, 36, 50, 14
	PUSHBUTTON		"Cancel", IDCANCEL, 161, 36, 50, 14
END

1 RT_MANIFEST "manifest.xml"

1 VERSIONINFO
	FILEVERSION VERSION_NUMBER
	PRODUCTVERSION VERSION_NUMBER
	FILEFLAGSMASK 0x17L
	FILEFLAGS 0x0L
	FILEOS VOS_NT
	FILETYPE VFT_APP
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "FileDescription", "C++ Project IDE."
			VALUE "FileVersion", VERSION_NUMBER_STRING
			VALUE "LegalCopyright", "Copyright (C) 2012"
			VALUE "OriginalFilename", "cpp-project.exe"
			VALUE "ProductVersion", VERSION_NUMBER_STRING
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END

